/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Ruby191/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* OH-Button Comapss mixin
  Author: Marek Babik <mrkbbk@gmail.com>
  Licence: "Use it as you want, but don't sell it and don't forget to credit me :)"
  
*/
/* line 13, ../src/screen.scss */
body {
  background: #f2f2f2;
  color: #333;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  max-width: 960px;
  min-width: 800px;
  margin: 10px auto;
}

/* line 25, ../src/screen.scss */
h1, h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
}

/* line 30, ../src/screen.scss */
h1 {
  font-size: 2em;
  margin: 20px 0;
}

/* line 35, ../src/screen.scss */
h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

/* line 39, ../src/screen.scss */
pre {
  font-family: Courier, "Courier New", mono;
}

/* line 42, ../src/screen.scss */
code {
  position: relative;
}
/* line 45, ../src/screen.scss */
code div {
  font-size: 0.75em;
  color: #555;
  font-weight: bold;
  padding: 0 0 0 10px;
  margin-bottom: -10px;
}
/* line 54, ../src/screen.scss */
code pre {
  z-index: 200;
  border: 1px solid #ddd;
  background: #FFFDD6;
  padding: 10px;
  margin: 10px;
}

/* line 66, ../src/screen.scss */
#showcase {
  width: 60%;
  float: left;
}
/* line 70, ../src/screen.scss */
#showcase div {
  padding-left: 10px;
}

/* line 74, ../src/screen.scss */
aside {
  overflow: hidden;
  *zoom: 1;
  width: 37%;
  float: right;
  margin-left: 3%;
  font-size: 0.875em;
}

/* line 83, ../src/screen.scss */
footer {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  font-size: 0.75em;
  color: #777;
}
/* line 88, ../src/screen.scss */
footer a {
  color: black;
  text-decoration: none;
}

/* line 95, ../src/screen.scss */
section,
aside {
  background: #fff;
  margin: 10px 0;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #dddddd 0 2px 4px;
  -webkit-box-shadow: #dddddd 0 2px 4px;
  -o-box-shadow: #dddddd 0 2px 4px;
  box-shadow: #dddddd 0 2px 4px;
}

/* line 105, ../src/screen.scss */
section p, section h2,
aside p,
aside h2,
footer p,
footer h2 {
  margin: 20px 10px;
}

/* line 110, ../src/screen.scss */
section {
  padding: 20px 20px;
}

/* line 114, ../src/screen.scss */
section.usage li span {
  font-weight: bold;
  font-family: Courier, "Courier New", mono;
}

/* line 121, ../src/screen.scss */
a.positive {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #4f6203 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px 10px;
  padding-bottom: 15px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b2dd08), color-stop(100%, #8aab06));
  background: -webkit-linear-gradient(top, #b2dd08, #8aab06);
  background: -moz-linear-gradient(top, #b2dd08, #8aab06);
  background: -o-linear-gradient(top, #b2dd08, #8aab06);
  background: -ms-linear-gradient(top, #b2dd08, #8aab06);
  background: linear-gradient(top, #b2dd08, #8aab06);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #627a04 0 0 2px 0 inset, #6e8905 0 -5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #627a04 0 0 2px 0 inset, #6e8905 0 -5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #627a04 0 0 2px 0 inset, #6e8905 0 -5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #627a04 0 0 2px 0 inset, #6e8905 0 -5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.positive:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c6f509), color-stop(100%, #9ec407));
  background: -webkit-linear-gradient(top, #c6f509, #9ec407);
  background: -moz-linear-gradient(top, #c6f509, #9ec407);
  background: -o-linear-gradient(top, #c6f509, #9ec407);
  background: -ms-linear-gradient(top, #c6f509, #9ec407);
  background: linear-gradient(top, #c6f509, #9ec407);
  -moz-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -5px 0px 0 inset, #e3fb83 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -5px 0px 0 inset, #e3fb83 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -5px 0px 0 inset, #e3fb83 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -5px 0px 0 inset, #e3fb83 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.positive:active {
  top: 2.5px;
  padding-bottom: 12.5px;
  -moz-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -2.5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -2.5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -2.5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #769305 0 0 2px 0 inset, #8aab06 0 -2.5px 0px 0 inset, #ddfa6a 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
/* line 125, ../src/screen.scss */
a.neutral {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #007a99 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px 10px;
  padding-bottom: 15px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1ad1ff), color-stop(100%, #00b8e6));
  background: -webkit-linear-gradient(top, #1ad1ff, #00b8e6);
  background: -moz-linear-gradient(top, #1ad1ff, #00b8e6);
  background: -o-linear-gradient(top, #1ad1ff, #00b8e6);
  background: -ms-linear-gradient(top, #1ad1ff, #00b8e6);
  background: linear-gradient(top, #1ad1ff, #00b8e6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #008fb3 0 0 2px 0 inset, #009bc2 0 -5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #008fb3 0 0 2px 0 inset, #009bc2 0 -5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #008fb3 0 0 2px 0 inset, #009bc2 0 -5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #008fb3 0 0 2px 0 inset, #009bc2 0 -5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.neutral:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33d6ff), color-stop(100%, #00ccff));
  background: -webkit-linear-gradient(top, #33d6ff, #00ccff);
  background: -moz-linear-gradient(top, #33d6ff, #00ccff);
  background: -o-linear-gradient(top, #33d6ff, #00ccff);
  background: -ms-linear-gradient(top, #33d6ff, #00ccff);
  background: linear-gradient(top, #33d6ff, #00ccff);
  -moz-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -5px 0px 0 inset, #b3f0ff 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -5px 0px 0 inset, #b3f0ff 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -5px 0px 0 inset, #b3f0ff 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -5px 0px 0 inset, #b3f0ff 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.neutral:active {
  top: 2.5px;
  padding-bottom: 12.5px;
  -moz-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -2.5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -2.5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -2.5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #00a3cc 0 0 2px 0 inset, #00b8e6 0 -2.5px 0px 0 inset, #99ebff 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
/* line 129, ../src/screen.scss */
a.negative {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #991400 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px 10px;
  padding-bottom: 15px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff381a), color-stop(100%, #e61f00));
  background: -webkit-linear-gradient(top, #ff381a, #e61f00);
  background: -moz-linear-gradient(top, #ff381a, #e61f00);
  background: -o-linear-gradient(top, #ff381a, #e61f00);
  background: -ms-linear-gradient(top, #ff381a, #e61f00);
  background: linear-gradient(top, #ff381a, #e61f00);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #b31800 0 0 2px 0 inset, #c21a00 0 -5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #b31800 0 0 2px 0 inset, #c21a00 0 -5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #b31800 0 0 2px 0 inset, #c21a00 0 -5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #b31800 0 0 2px 0 inset, #c21a00 0 -5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.negative:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff4e33), color-stop(100%, #ff2200));
  background: -webkit-linear-gradient(top, #ff4e33, #ff2200);
  background: -moz-linear-gradient(top, #ff4e33, #ff2200);
  background: -o-linear-gradient(top, #ff4e33, #ff2200);
  background: -ms-linear-gradient(top, #ff4e33, #ff2200);
  background: linear-gradient(top, #ff4e33, #ff2200);
  -moz-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -5px 0px 0 inset, #ffbdb3 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -5px 0px 0 inset, #ffbdb3 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -5px 0px 0 inset, #ffbdb3 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -5px 0px 0 inset, #ffbdb3 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.negative:active {
  top: 2.5px;
  padding-bottom: 12.5px;
  -moz-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -2.5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -2.5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -2.5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #cc1b00 0 0 2px 0 inset, #e61f00 0 -2.5px 0px 0 inset, #ffa799 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
/* line 133, ../src/screen.scss */
a.pink {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #d93e3e 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  padding-bottom: 15px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eea8a8), color-stop(100%, #e67e7e));
  background: -webkit-linear-gradient(top, #eea8a8, #e67e7e);
  background: -moz-linear-gradient(top, #eea8a8, #e67e7e);
  background: -o-linear-gradient(top, #eea8a8, #e67e7e);
  background: -ms-linear-gradient(top, #eea8a8, #e67e7e);
  background: linear-gradient(top, #eea8a8, #e67e7e);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: #de5353 0 0 2px 0 inset, #e06060 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #de5353 0 0 2px 0 inset, #e06060 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #de5353 0 0 2px 0 inset, #e06060 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #de5353 0 0 2px 0 inset, #e06060 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.pink:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2bebe), color-stop(100%, #ea9393));
  background: -webkit-linear-gradient(top, #f2bebe, #ea9393);
  background: -moz-linear-gradient(top, #f2bebe, #ea9393);
  background: -o-linear-gradient(top, #f2bebe, #ea9393);
  background: -ms-linear-gradient(top, #f2bebe, #ea9393);
  background: linear-gradient(top, #f2bebe, #ea9393);
  -moz-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.pink:active {
  top: 2.5px;
  padding-bottom: 12.5px;
  -moz-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -2.5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -2.5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -2.5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #e26868 0 0 2px 0 inset, #e67e7e 0 -2.5px 0px 0 inset, white 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
/* line 135, ../src/screen.scss */
a.pink span {
  color: #A00002;
}
/* line 140, ../src/screen.scss */
a.dark {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #333333 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 10px 50px;
  padding-bottom: 15px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #737373), color-stop(100%, #595959));
  background: -webkit-linear-gradient(top, #737373, #595959);
  background: -moz-linear-gradient(top, #737373, #595959);
  background: -o-linear-gradient(top, #737373, #595959);
  background: -ms-linear-gradient(top, #737373, #595959);
  background: linear-gradient(top, #737373, #595959);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: #404040 0 0 2px 0 inset, #474747 0 -5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #404040 0 0 2px 0 inset, #474747 0 -5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #404040 0 0 2px 0 inset, #474747 0 -5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #404040 0 0 2px 0 inset, #474747 0 -5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.dark:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #666666));
  background: -webkit-linear-gradient(top, #808080, #666666);
  background: -moz-linear-gradient(top, #808080, #666666);
  background: -o-linear-gradient(top, #808080, #666666);
  background: -ms-linear-gradient(top, #808080, #666666);
  background: linear-gradient(top, #808080, #666666);
  -moz-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -5px 0px 0 inset, #bfbfbf 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -5px 0px 0 inset, #bfbfbf 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -5px 0px 0 inset, #bfbfbf 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -5px 0px 0 inset, #bfbfbf 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.dark:active {
  top: 2.5px;
  padding-bottom: 12.5px;
  -moz-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -2.5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -2.5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -2.5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #4d4d4d 0 0 2px 0 inset, #595959 0 -2.5px 0px 0 inset, #b3b3b3 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
/* line 143, ../src/screen.scss */
a.zilla {
  font: 16px/1.5em normal Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: white !important;
  text-shadow: #1d3d08 0 1px 2px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  padding-bottom: 13px;
  position: relative;
  top: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53ac18), color-stop(100%, #3d8012));
  background: -webkit-linear-gradient(top, #53ac18, #3d8012);
  background: -moz-linear-gradient(top, #53ac18, #3d8012);
  background: -o-linear-gradient(top, #53ac18, #3d8012);
  background: -ms-linear-gradient(top, #53ac18, #3d8012);
  background: linear-gradient(top, #53ac18, #3d8012);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: #28530c 0 0 2px 0 inset, #2e600d 0 -5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -webkit-box-shadow: #28530c 0 0 2px 0 inset, #2e600d 0 -5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  -o-box-shadow: #28530c 0 0 2px 0 inset, #2e600d 0 -5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
  box-shadow: #28530c 0 0 2px 0 inset, #2e600d 0 -5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, rgba(0, 0, 0, 0.25) 0 4px 4px;
}
/* line 39, ../src/_oh-button.scss */
a.zilla:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5dc31b), color-stop(100%, #489615));
  background: -webkit-linear-gradient(top, #5dc31b, #489615);
  background: -moz-linear-gradient(top, #5dc31b, #489615);
  background: -o-linear-gradient(top, #5dc31b, #489615);
  background: -ms-linear-gradient(top, #5dc31b, #489615);
  background: linear-gradient(top, #5dc31b, #489615);
  -moz-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -5px 0px 0 inset, #a2eb72 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -webkit-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -5px 0px 0 inset, #a2eb72 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  -o-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -5px 0px 0 inset, #a2eb72 0 2px 0px 0 inset, #cccccc 0 4px 4px;
  box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -5px 0px 0 inset, #a2eb72 0 2px 0px 0 inset, #cccccc 0 4px 4px;
}
/* line 49, ../src/_oh-button.scss */
a.zilla:active {
  top: 2.5px;
  padding-bottom: 10.5px;
  -moz-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -2.5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -webkit-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -2.5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  -o-box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -2.5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
  box-shadow: #33690f 0 0 2px 0 inset, #3d8012 0 -2.5px 0px 0 inset, #93e85c 0 2px 0px 0 inset, #cccccc 0 4px 4px -1px;
}
