/* OH-Button Comapss mixin
  Author: Marek Babik <mrkbbk@gmail.com>
  Licence: "Use it as you want (except selling it), but remember to credit me"
  
*/
@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

@mixin oh-button($color: #555, $depth: 3px, $bradius: 5px, $v-padding: 10px, $h-padding: 10px, $font-size: 1em) {
  $sharpness: 0px;
  $text-color: #fff;
  $text-shadow-color: darken($color, 20);
  $border-radius: 5px;
  font: 16px/1.5em normal Arial,sans-serif;
  font-size: $font-size;
  text-align:center;
  color:  $text-color !important;
  
  @include text-shadow($text-shadow-color, 0, 1px, 2px);
  text-decoration:none;
  font-weight:bold;
  display: inline-block;
  padding: $v-padding $h-padding;
  padding-bottom: ($v-padding + $depth);
  
  position:relative;
  top:0;
  
  @include background( linear-gradient(top, lighten($color, 5), darken($color, 5)));
  @include border-radius($bradius);
  @include box-shadow(
        darken($color, 15) 0 0 2px 0 inset, // inner shadow
        darken($color, 12) 0 (-1 * $depth) $sharpness 0 inset, // bottom edge
        lighten($color, 3) 0 ((-1 * $depth) - 1) $sharpness 0 inset, // bootom edge hilite
        lighten($color, 40) 0 2px $sharpness 0 inset, // hilite        
        rgba(0,0,0,.25) 0 4px 4px // drop shadow
  );
  
  &:hover {
    @include background( linear-gradient(top, lighten($color, 10), $color));
    @include box-shadow(
          darken($color, 10) 0 0 2px 0 inset,
          darken($color, 5) 0 (-1 * $depth) $sharpness 0 inset,
          lighten($color, 5) 0 ((-1 * $depth) - 1) $sharpness 0 inset, // bootom edge hilite
          lighten($color, 30) 0 2px $sharpness 0 inset,
          lighten(#000, 80) 0 4px 4px
    );    
  }
  
  &:active {
    top: ($depth / 2) + 1;
    padding-bottom: ($v-padding + $depth/2);
    @include box-shadow(
          darken($color, 10) 0 0 2px 0 inset,
          darken($color, 5) 0 (-1 * $depth/2) $sharpness 0 inset,
          lighten($color, 5) 0 ((-1 * $depth/2) - 1) $sharpness 0 inset, // bootom edge hilite
          lighten($color, 30) 0 2px $sharpness 0 inset,
          lighten(#000, 80) 0 4px 4px -1px
    );    
  }
}
